<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzwb.mapper.BossMapper">
    <insert id="insertBoss" parameterType="boss">
        insert into boss values(#{name}, #{car});
    </insert>

    <select id="selectBoss" resultType="boss">
        select *from boss;
    </select>
</mapper>